# Secure password for accessing Admin Mode in the Streamlit app
ADMIN_PASSWORD=your_secure_password_here

# Optional Direct URL for DeepFaceDrawing weights (e.g. Google Drive or S3 link)
DFD_WEIGHTS_DIRECT_URL=
