# Ignore virtual environment
skaitch_env/
venv/
.env

# Ignore system files
.DS_Store
__pycache__/

# Ignore large model weights
*.safetensors
*.ckpt
*.pt
*.pth
*.bin

# Ignore external models
external/
